<div class="inicio">
  <app-cabezera-pagina class="cabezera"></app-cabezera-pagina>
  <div class="inicio_fondo">
    <div class="inicio_titulo">
      <h1>Pensado y diseñado para Traders Reales</h1>
    </div>
    <button class="inicio_fondo-boton btn">
      <i class="far fa-chart-bar"></i> Aprende mi estrategia
    </button>
  </div>
  <h2 class="inicio_titulo2">Principales servicios para el trader</h2>

  <div class="cuerpo">
    <div class="row">
      <div class="cuerpo_tarjeta card-body">
        <a href="https://t.me/joinchat/TQa9CIW38R6MPpVl"
          ><i class="far fa-comment"></i>
          <h3 class="card-title">Aprende Gratis</h3></a
        >
        <p class="card-text">
          Si estás iniciando y te sientes perdido ésta es tu sección.
        </p>
      </div>

      <div class="cuerpo_tarjeta card-body">
        <a class="amarillo" href="https://t.me/joinchat/TQa9CIW38R6MPpVl"
          ><i class="far fa-gem"></i>
          <h3 class="card-title">Programa Trader Premium</h3>
        </a>
        <p class="card-text">Aprenderás todo lo que aplico en mi operativa.</p>
      </div>

      <div class="cuerpo_tarjeta card-body">
        <a href="https://t.me/joinchat/TQa9CIW38R6MPpVl"
          ><i class="far fa-building"></i>
          <h3 class="card-title">Proyecto Neurotrading</h3>
        </a>
        <p class="card-text">Próximamente...</p>
      </div>
    </div>

    <h2 class="cuerpo_titulo">¿Quién es Alvaro PriceAction?</h2>
    <div class="elementor-image">
      <img
        src="../../../assets/img/ALVARO-04-01-702x1024.png"
        alt="Imagen de Álvaro"
      />
      <figcaption class="wp-caption-text">
        Alvaro Priceaction — Trader Profesional
      </figcaption>
    </div>
    <div class="cuerpo_texto">
      <div class="cuerpo__texto-parrafo">
        Soy un Trader Español con mas de 7 años de experiencia en el mundo del
        Trading y los mercados financieros.
      </div>

      <div class="cuerpo__texto-parrafo">
        Tardé más de 3 años en dejar de perder dinero (y tiempo) haciendo cosas
        sin sentido en todo tipos de mercados. Improvisando y cambiando el
        enfoque cada vez que me apetecía hasta que por fín tras una gran perdida
        (Si, has leído bien) me encontré en la situación de hacer un cambio
        radical o abandonar ésta profesión.
      </div>

      <div class="cuerpo__texto-parrafo">
        Decidí invertir en un mentor, quien me enseñó a ver el Trading desde la
        perspectiva de estadísticas, decisiones objetivas y habilidad, mucha
        habilidad. Desarrollé mi estrategia basada en Priceaction y estructuras
        de manipulación llevadas a cabo por el profesional gracias a su
        experiencia y a numerosos ejercicios de Backtesting.
      </div>

      <div class="cuerpo__texto-parrafo">
        A partir de 2017, con una experiencia más que sólida, empecé a compartir
        mis conocimientos con personas verdaderamente comprometidas que buscaban
        obtener los mismos resultados que yo.
      </div>

      <div class="cuerpo__texto-parrafo">
        En 2018 pude dar otro gran salto profesional, logrando trabajar para una
        Empresa de Fondeo durante 11 meses gestionando una cuenta de 30.000$ y
        de 100.000$. Operando ambas en directo delante de los alumnos.
      </div>

      <div class="cuerpo__texto-parrafo">
        Actualmente tradeo mi propio capital usando Futuros (Nasdaq) para una
        operativa de Daytrading y CFDs (Oro, Divisas y Crudo) para una operativa
        estilo Swingtrading.
      </div>
    </div>

    <div class="faq">
      <h2 class="cuerpo_titulo">¿Tienes alguna duda?</h2>

      <button
        class="navbar-toggler btn btn-primary w-50 p-3"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        PEPE
        <span class="navbar-toggler-icon">SPAN</span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        HOLAA
      </div>

      <div id="accordion">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button
                class="btn btn-link"
                data-toggle="collapse"
                data-target="#collapseOne"
                aria-expanded="true"
                aria-controls="collapseOne"
              >
                Collapsible Group Item #1
              </button>
            </h5>
          </div>

          <div
            id="collapseOne"
            class="collapse"
            aria-labelledby="headingOne"
            data-parent="#accordion"
          >
            <div class="card-body">
              <div class="cuerpo__texto-parrafo">
                Anim pariatur cliche reprehenderit, enim eiusmod high life
                accusamus terry richardson ad squid. 3 wolf moon officia aute,
                non cupidatat skateboard dolor brunch. Food truck quinoa
                nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua
                put a bird on it squid single-origin coffee nulla assumenda
                shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore
                wes anderson cred nesciunt sapiente ea proident. Ad vegan
                excepteur butcher vice lomo. Leggings occaecat craft beer
                farm-to-table, raw denim aesthetic synth nesciunt you probably
                haven't heard of them accusamus labore sustainable VHS.
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
              <button
                class="btn btn-link collapsed"
                data-toggle="collapse"
                data-target="#collapseTwo"
                aria-expanded="false"
                aria-controls="collapseTwo"
              >
                Collapsible Group Item #2
              </button>
            </h5>
          </div>
          <div
            id="collapseTwo"
            class="collapse"
            aria-labelledby="headingTwo"
            data-parent="#accordion"
          >
            <div class="card-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life
              accusamus terry richardson ad squid. 3 wolf moon officia aute, non
              cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
              laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
              on it squid single-origin coffee nulla assumenda shoreditch et.
              Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
              nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
              lomo. Leggings occaecat craft beer farm-to-table, raw denim
              aesthetic synth nesciunt you probably haven't heard of them
              accusamus labore sustainable VHS.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h5 class="mb-0">
              <button
                class="btn btn-link collapsed"
                data-toggle="collapse"
                data-target="#collapseThree"
                aria-expanded="false"
                aria-controls="collapseThree"
              >
                Collapsible Group Item #3
              </button>
            </h5>
          </div>
          <div
            id="collapseThree"
            class="collapse"
            aria-labelledby="headingThree"
            data-parent="#accordion"
          >
            <div class="card-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life
              accusamus terry richardson ad squid. 3 wolf moon officia aute, non
              cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
              laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
              on it squid single-origin coffee nulla assumenda shoreditch et.
              Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
              nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
              lomo. Leggings occaecat craft beer farm-to-table, raw denim
              aesthetic synth nesciunt you probably haven't heard of them
              accusamus labore sustainable VHS.
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="inicio_fondo-boton btn">
      <i class="far fa-chart-bar"></i> Conoce mi estrategia
    </button>
  </div>
  <div class="inicio_pie-de-pagina mt-4">
    <div class="inicio_pie-de-pagina__botones">
      <ul class="nav nav-tabs">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            data-toggle="dropdown"
            href="#"
            role="button"
            aria-haspopup="true"
            aria-expanded="false"
            >Declaración de privacidad</a
          >
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Declaración de privacidad (UE)</a>
            <a class="dropdown-item" href="#">Declaración de privacidad (US)</a>
            <a class="dropdown-item" href="#">Declaración de privacidad (CA)</a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            data-toggle="dropdown"
            href="#"
            role="button"
            aria-haspopup="true"
            aria-expanded="false"
            >Politica de Cookies</a
          >
          <div class="dropdown-menu">
            <a class="dropdown-item" target="_blank" href="#">Politica de Cookies (UE)</a>
            <a class="dropdown-item" target="_blank" href="#">Politica de Cookies (CA)</a>
            <a class="dropdown-item" target="_blank" href="#">Politica de Cookies (US)</a>
          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link" target="_blank" href="#">Declaración de Riesgos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" target="_blank" href="#">Descargo de Responsabilidad</a>
        </li>
      </ul>
    </div>

    <div class="inicio_pie-de-pagina__texto">
      <h5>Declaración de riesgos</h5>
      <p>
        La operación de futuros y forex sobrelleva riesgos substanciales y no es
        para todos los inversionistas. Un inversionista, podría, potencialmente
        perder todo o más de la inversión inicial. Capital de Riesgo, es dinero
        que puede ser perdido, sin poner en juego la seguridad financiera o
        estilo de vida de la persona. Solo capital de riesgo debe ser utilizado
        para trading, y solo aquellas personas con suficiente capital de riesgo
        deben considerar trading. Resultados pasados, no son necesariamente
        indicativos de resultados futuros.
      </p>

      <h5>Declaración de Resultados Hipotéticos</h5>
      <p>
        Resultados hipotéticos de rendimiento deben tener muchas limitaciones
        inherentes, algunas de las cuales se describen a continuación. No se
        debe hacer representación de que alguna de las cuentas va o es probable
        que tenga resultados similares a los mostrados; de hecho, hay
        diferencias frecuentes entre los resultados hipotéticos y los resultados
        actuales obtenidos por cualquier programa de trading. Una de las
        limitaciones de resultados hipotéticos de rendimiento es el hecho de que
        son preparados con los beneficios en retrospectiva. Además, trading
        hipotético no involucra riesgo financiero, y ningún record de trading
        hipotético puede considerar el riesgo financiero de operaciones reales.
        Por ejemplo, la capacidad de resistir pérdidas o de adherirse a un
        programa de trading particular sin importar pérdidas son puntos
        materiales los cuales pueden afectar de manera substancial resultados de
        trading real. Hay muchos factores relacionados a los mercados en
        general, o a la implementación de cualquier programa de trading
        especifico, los cuales no pueden ser todos considerados en la
        preparación de resultados hipotéticos, todos estos, pueden afectar los
        resultados de trading de forma adversa.
      </p>

      <em
        >Esta página web no ofrece NINGÚN tipo de asesoramiento a sus usuarios,
        ni de forma activa ni mediante respuesta a las preguntas recibidas. Al
        tratarse de una página web de carácter formativo, no podemos
        responsabilizarnos del uso indebido que el usuario haga de dicha
        información. En ningún caso podrá reclamar al responsable de esta página
        web, daños y prejuicios derivados de su operativa.</em
      >
    </div>

    <div class="inicio_pie-de-pagina__iconos">
      <div class="margin">
        <div class="imagen-logo-negro">
        <img
          src="../../../assets/img/negro.png"
          alt="Logo Alvaro Action Negro"
        />
      </div>
        <div class="inicio_pie-de-pagina__iconos___redes-sociales">
          <a target="_blank" href="https://www.youtube.com/channel/UCEEPH0uX-T5TOqg3KWMvuYg">
            <i class="fab fa-youtube"></i>
          </a>
          <a target="_blank" href="https://www.instagram.com/alvaropriceaction">
            <i class="fab fa-instagram"></i>
          </a>
          <a target="_blank" href="https://t.me/joinchat/TQa9CIW38R6MPpVl">
            <i class="fab fa-telegram"></i>
          </a>
        </div>

        <a href="http://www.alvaropriceaction.com">
          <span>Copyright © 2022 Alvaro Priceaction</span>
        </a>
      </div>
    </div>
  </div>
</div>
