<div class="inicio">
  <app-cabezera-pagina class="cabezera"></app-cabezera-pagina>
  <div class="inicio_fondo">
    <div class="inicio_titulo">
      <h1>Pensado y diseñado para Traders Reales</h1>
    </div>
    <button class="inicio_fondo-boton btn">
      <i class="far fa-chart-bar"></i> Aprende mi estrategia
    </button>
  </div>
  <h2 class="inicio_titulo2">Principales servicios para el trader</h2>

  <div class="cuerpo">
    <div class="row">
      <div class="cuerpo_tarjeta card-body">
        <a href="https://t.me/joinchat/TQa9CIW38R6MPpVl"
          ><i class="far fa-comment"></i>
          <h3 class="card-title">Aprende Gratis</h3></a
        >
        <p class="card-text">
          Si estás iniciando y te sientes perdido ésta es tu sección.
        </p>
      </div>

      <div class="cuerpo_tarjeta card-body">
        <a class="amarillo" href="https://t.me/joinchat/TQa9CIW38R6MPpVl"
          ><i class="far fa-gem"></i>
          <h3 class="card-title">Programa Trader Premium</h3>
        </a>
        <p class="card-text">Aprenderás todo lo que aplico en mi operativa.</p>
      </div>

      <div class="cuerpo_tarjeta card-body">
        <a href="https://t.me/joinchat/TQa9CIW38R6MPpVl"
          ><i class="far fa-building"></i>
          <h3 class="card-title">Proyecto Neurotrading</h3>
        </a>
        <p class="card-text">Próximamente...</p>
      </div>
    </div>

    <h2 class="cuerpo_titulo">¿Quién es Alvaro PriceAction?</h2>
    <div class="foto-cuerpo">
    <div class="elementor-image">
      <img
        src="../../../assets/img/ALVARO-04-01-702x1024.png"
        alt="Imagen de Álvaro"
      />
      <figcaption class="wp-caption-text">
        Alvaro Priceaction — Trader Profesional
      </figcaption>
    </div>
    <div class="cuerpo_texto">
      <div class="cuerpo__texto-parrafo">
        Soy un Trader Español con mas de 7 años de experiencia en el mundo del
        Trading y los mercados financieros.
      </div>

      <div class="cuerpo__texto-parrafo">
        Tardé más de 3 años en dejar de perder dinero (y tiempo) haciendo cosas
        sin sentido en todo tipos de mercados. Improvisando y cambiando el
        enfoque cada vez que me apetecía hasta que por fín tras una gran perdida
        (Si, has leído bien) me encontré en la situación de hacer un cambio
        radical o abandonar ésta profesión.
      </div>

      <div class="cuerpo__texto-parrafo">
        Decidí invertir en un mentor, quien me enseñó a ver el Trading desde la
        perspectiva de estadísticas, decisiones objetivas y habilidad, mucha
        habilidad. Desarrollé mi estrategia basada en Priceaction y estructuras
        de manipulación llevadas a cabo por el profesional gracias a su
        experiencia y a numerosos ejercicios de Backtesting.
      </div>

      <div class="cuerpo__texto-parrafo">
        A partir de 2017, con una experiencia más que sólida, empecé a compartir
        mis conocimientos con personas verdaderamente comprometidas que buscaban
        obtener los mismos resultados que yo.
      </div>

      <div class="cuerpo__texto-parrafo">
        En 2018 pude dar otro gran salto profesional, logrando trabajar para una
        Empresa de Fondeo durante 11 meses gestionando una cuenta de 30.000$ y
        de 100.000$. Operando ambas en directo delante de los alumnos.
      </div>

      <div class="cuerpo__texto-parrafo">
        Actualmente tradeo mi propio capital usando Futuros (Nasdaq) para una
        operativa de Daytrading y CFDs (Oro, Divisas y Crudo) para una operativa
        estilo Swingtrading.
      </div>
    </div>
  </div>
    <div class="faq">
      <h2 class="cuerpo_titulo">¿Tienes alguna duda?</h2>

      <div id="accordion">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button
                class="btn btn-link"
                data-toggle="collapse"
                data-target="#collapse1"
                aria-expanded="true"
                aria-controls="collapse1"
              >
                <i class="fas fa-plus"></i>
                ¿Por qué vendes cursos si eres tan bueno haciendo trading?
              </button>
            </h5>
          </div>

          <div
            id="collapse1"
            class="collapse"
            aria-labelledby="headingOne"
            data-parent="#accordion"
          >
            <div class="card card-body">
              Es una pregunta que recibo practicamente a diario y la verdad es
              que yo pensaba lo mismo cuando empecé. Incluso desconfiaba de
              aquellos que ofrecían este tipo de servicios. La diferencia está
              en que ellos no demostraban que tenían resultados y uno tenía que
              hacer un acto de fe (solía ser un error).
              <br />
              <br />
              En mi caso me gusta ser claro, enfoco la formación como otro
              negocio paralelo al trading, el cual me aporta beneficios
              económicos y de experiencia a mi propio trading.
              <br />
              <br />
              En cuanto a mis resultados también soy claro, por ello en la
              siguiente pregunta tienes toda la información.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button
                class="btn btn-link"
                data-toggle="collapse"
                data-target="#collapse2"
                aria-expanded="true"
                aria-controls="collapse2"
              >
                <i class="fas fa-plus"></i>
                ¿Cómo se si tú eres un trader profesional?
              </button>
            </h5>
          </div>

          <div
            id="collapse2"
            class="collapse"
            aria-labelledby="headingOne"
            data-parent="#accordion"
          >
            <div class="card card-body">
              Soy de los que piensan que si alguien quiere ayudarte en algo lo
              primero que tiene que hacer es demostrarte que él ya ha conseguido
              lo que tu quieres.
              <br />
              <br />
              En cuanto a mis resultados con Daytrading es bien sencillo,
              realizo mi operativa en directo delante de los alumnos que estén
              interesados, día tras día, desde 2017. Aún así también me gusta
              «auditarme» una vez al año superando pruebas de empresas de fondeo
              y manteniendolas con una gestión que enseño en mi formación.
              Además de esto cada operación que hago salga bien o mal es
              compartida a través del canal de Telegram del Programa Trader
              Premium mostrando las marcas de entradas que la plataforma de
              Trading coloca de forma automática en cada operación (Sin
              posibilidad de alterar).
              <br /><br />
              En cuanto a la operativa de Swingtrading lo que hago es
              directamente mostrar todo el conjunto de operaciones que he
              realizado en los últimos 6 meses para que el alumno compruebe por
              si mismo mi efectividad. Este proceso se lleva a cabo en los
              directos que realizo para los alumnos vía Zoom o Youtube.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="heading5">
            <h5 class="mb-0">
              <button
                class="btn btn-link"
                data-toggle="collapse"
                data-target="#collapse3"
                aria-expanded="true"
                aria-controls="collapse3"
              >
                <i class="fas fa-plus"></i>
                ¿Cómo sé que tu curso funcionará para mi?
              </button>
            </h5>
          </div>

          <div
            id="collapse3"
            class="collapse"
            aria-labelledby="headingOne"
            data-parent="#accordion"
          >
            <div class="card card-body">
              Bueno, déjame aclarar que se trata de un programa formativo y no
              de un curso. Mi formación no es un grupo de videos o PDFs que te
              lo lees y ya vas a ganar dinero (De hecho yo no pienso que eso
              funcione). El Programa Trader Premium es un programa muy diferente
              a otros programas.
              <br /><br />
              Lo sé de primera mano porque a lo largo de todos estos años
              viviendo día a día del trading he tenido miles de interacciones
              con personas que han pagado (mucho más) por otros programas.
              <br /><br />
              Me encanta interactuar con la mayor cantidad de personas posible
              (aunque nunca inviertan un euro en mis servicios) porque me
              permite ver en qué están fallando otros programas y, a cambio,
              asegurarme de que mi formación vaya más allá.
              <br /><br />
              Sin duda, los dos errores (principales) más comunes que me
              encuentro entre TODOS estos programas son:
              <br /><br />
              Primero, no ofrecen ningún acceso verdadero y directo a la persona
              que da el curso. Normalmente, dan la posibilidad de hablar
              directamente con algún otro «entrenador» o “socio” o como sea que
              lo llamen, pero no es el supuesto trader el que se muestra en todo
              momento en las clases.
              <br /><br />
              Por no hablar ya de la posibilidad de verle operar en directo y
              con su propia cuenta real. Que si escáner de señales, software
              para identificar patrones en el mercado… pero… ¿por qué no se deja
              ver operar en directo con su cuenta?
              <br /><br />
              Otro factor diferenciador es que debido a que mi proyecto de
              formación es todavía una empresa relativamente pequeña, puedo
              interactuar personalmente con todos los miembros que han invertido
              en mi programa.
              <br /><br />
              En segundo lugar, no importa lo que digan en su mensaje de
              marketing, cuando recibes su curso, TODOS asumen que tienes una
              comprensión básica-media de los mercados y una idea general de
              cómo funciona.
              <br /><br />
              Todo lo contrario que mi caso. Asumo que no sabes nada. He hecho
              mi programa 100% accesible para principiantes. Y el hecho es que
              tengo cientos de historias de éxito de personas que han comenzado
              como completos principiantes y, sin embargo, han tenido un gran
              éxito.
              <br /><br />
              En muchos sentidos, empezar de nuevo es una ventaja. Puedes
              empezar con una mentalidad limpia y no tener que preocuparte por
              arreglar y corregir los malos hábitos que muchos otros traders han
              desarrollado.
              <br /><br />
              ¿Y qué me dices de los distintos tipos de formaciones que se
              venden en función del tipo de mercado financiero que operas?
              <br /><br />
              Cuentan el cuento de que Forex se mueve distintos a los índices, o
              que el SP500 se mueve distinto al Nasdaq, o al oro… en fin.
              <br /><br />
              No creo que te esté contando nada que ya no sepas.
              <br /><br />
              La conclusión es que, hay tantas maneras de hacer que el trading
              sea mucho menos estresante y más controlado, y por lo tanto, más
              consistente…, y me gustaría pasarte ese conocimiento.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button
                class="btn btn-link"
                data-toggle="collapse"
                data-target="#collapse4"
                aria-expanded="true"
                aria-controls="collapse4"
              >
                <i class="fas fa-plus"></i>
                ¿Qué tipo de soporte tengo en el Programa Trader Premium?
              </button>
            </h5>
          </div>

          <div
            id="collapse4"
            class="collapse"
            aria-labelledby="headingOne"
            data-parent="#accordion"
          >
            <div class="card card-body">
              Tendrás la oportunidad de recibir apoyo de varias maneras, !y
              siempre de la mano de un servidor! Aunque tengo ya más de 100
              alumnos, de momento tengo tiempo para gestionar las dudas de los
              alumnos.
              <br /><br />
              Una de las cosas más tristes y que más me indigna es cuando la
              gente se acerca a mí diciendo que accedieron a otra formación y se
              encontraron con la sensación de abandono o desentendimiento por
              parte de otros formadores.
              <br /><br />
              Siempre obtengo una respuesta similar a “después de comprar el
              programa, no recibo respuestas, o tardan días en responder”.
              <br /><br />
              Es una lástima y, desafortunadamente, sucede muy frecuentemente.
              <br /><br />
              Por mi parte, vas a poder ponerte en contacto conmigo vía Telegram
              directamente o email para cualquier duda sobre la plataforma donde
              está alojado el programa, temas de conectividad, fallos a la hora
              de la visualización del curso, etc.
              <br /><br />
              Con respecto a las dudas de la operativa, serán dudas que
              resolveremos única y exclusivamente en las reuniones y webinarios
              semanales (Y esto dependerá de la opción que contrates).
              <br /><br />
              En resumen, si necesitas ayuda, estoy aquí. El trading no es algo
              fácil y cuando llegan los momentos más difíciles, puede ser que te
              cueste más incluso.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button
                class="btn btn-link"
                data-toggle="collapse"
                data-target="#collapse5"
                aria-expanded="true"
                aria-controls="collapse5"
              >
                <i class="fas fa-plus"></i>
                Ya soy un buen trader. ¿Aprenderé algo nuevo?
              </button>
            </h5>
          </div>

          <div
            id="collapse5"
            class="collapse"
            aria-labelledby="headingOne"
            data-parent="#accordion"
          >
            <div class="card card-body">
              ¿Puedo ser totalmente sincero contigo?
              <br /><br />
              Aunque no digo que no estés teniendo éxito, si estás en esta
              página y lees esta pregunta, entonces en el fondo sabes que aún te
              queda mucho por llegar a tu máximo potencial.
              <br /><br />
              No puedo prometerte que aprenderás grandes conceptos e ideas que
              desconocías, pero lo que sí puedo decirte con total confianza es
              que descubrirás todas esas “pequeñas cosas”, esos “pequeños
              detalles” que cuando se van sumando, hacen toda la diferencia,
              provocándote más control en tu operativa y por supuesto un trading
              más profesional.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button
                class="btn btn-link"
                data-toggle="collapse"
                data-target="#collapse6"
                aria-expanded="true"
                aria-controls="collapse6"
              >
                <i class="fas fa-plus"></i>
                ¿Cuánto tiempo pasará hasta que empiece a generar dinero?
              </button>
            </h5>
          </div>

          <div
            id="collapse6"
            class="collapse"
            aria-labelledby="headingOne"
            data-parent="#accordion"
          >
            <div class="card card-body">
              Desde la perspectiva de la típica “táctica de venta”, debería de
              decirte algún número al azar que haga que el Programa Trader
              Premium suene como una fórmula mágica… pero ya sabes, así no es
              como funcionan los mercados financieros.
              <br /><br />
              Cada persona es diferente, con diferentes objetivos y
              circunstancias de vida distintas. Además, necesitaremos calcular
              con la fiabilidad que tienes y tu ratio riesgo beneficio, además
              de tu Drawdown (Conceptos que verás en el programa) saber cuanto
              capital vas a necesitar para poder vivir (Sabiendo el coste de
              vida de tu país actual) entre otras cosas.
              <br /><br />
              En resumen, no existe una respuesta mágica o universal para cada
              persona que pueda escribir aquí y quedarme tranquilo, esto no
              funciona así.
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
              <button
                class="btn btn-link collapsed"
                data-toggle="collapse"
                data-target="#collapse7"
                aria-expanded="false"
                aria-controls="collapse7"
              >
                <i class="fas fa-plus"></i> ¿Qué pasa si no tengo ningún Broker?
                ¿Qué pasa si no tengo una plataforma de trading?
              </button>
            </h5>
          </div>
          <div
            id="collapse7"
            class="collapse"
            aria-labelledby="headingTwo"
            data-parent="#accordion"
          >
            <div class="card-body">
              La buena noticia es que no necesitas nada de eso para empezar a
              aprender.
              <br /><br />
              Sí que necesitarás algún software para poner en práctica lo
              aprendido pero no te preocupes, hay varias plataformas que puedes
              utilizar para ello, te lo explico todo detalladamente dentro del
              programa, desde la instalación hasta la configuración.
              <br /><br />
              En resumen, lo único que necesitas para empezar en una conexión a
              internet y una gran actitud y predisposición para empezar a seguir
              los pasos que te propongo.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h5 class="mb-0">
              <button
                class="btn btn-link collapsed"
                data-toggle="collapse"
                data-target="#collapse8"
                aria-expanded="false"
                aria-controls="collapse8"
              >
                <i class="fas fa-plus"></i> Estoy interesado en aprender Trading
                pero tengo otras dudas.
              </button>
            </h5>
          </div>
          <div
            id="collapse8"
            class="collapse"
            aria-labelledby="headingThree"
            data-parent="#accordion"
          >
            <div class="card-body">
              Si sientes que necesitas resolver cualquier consulta antes de dar
              el paso a formarte conmigo puedes escribirme directamente a través
              del email: trading@alvaroaction.com o a través de mi Instagram
              @alvaropriceaction y estaré encantado de ayudarte.
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="inicio_fondo-boton btn">
      <i class="far fa-chart-bar"></i> Conoce mi estrategia
    </button>
  </div>
  <div class="inicio_pie-de-pagina mt-4">
    <div class="inicio_pie-de-pagina__botones">
      <ul class="nav nav-tabs">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            data-toggle="dropdown"
            href="#"
            role="button"
            aria-haspopup="true"
            aria-expanded="false"
            >Declaración de privacidad</a
          >
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Declaración de privacidad (UE)</a>
            <a class="dropdown-item" href="#">Declaración de privacidad (US)</a>
            <a class="dropdown-item" href="#">Declaración de privacidad (CA)</a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            data-toggle="dropdown"
            href="#"
            role="button"
            aria-haspopup="true"
            aria-expanded="false"
            >Politica de Cookies</a
          >
          <div class="dropdown-menu">
            <a class="dropdown-item" target="_blank" href="#"
              >Politica de Cookies (UE)</a
            >
            <a class="dropdown-item" target="_blank" href="#"
              >Politica de Cookies (CA)</a
            >
            <a class="dropdown-item" target="_blank" href="#"
              >Politica de Cookies (US)</a
            >
          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link" target="_blank" href="#"
            >Declaración de Riesgos</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" target="_blank" href="#"
            >Descargo de Responsabilidad</a
          >
        </li>
      </ul>
    </div>

    <div class="inicio_pie-de-pagina__texto">
      <h5>Declaración de riesgos</h5>
      <p>
        La operación de futuros y forex sobrelleva riesgos substanciales y no es
        para todos los inversionistas. Un inversionista, podría, potencialmente
        perder todo o más de la inversión inicial. Capital de Riesgo, es dinero
        que puede ser perdido, sin poner en juego la seguridad financiera o
        estilo de vida de la persona. Solo capital de riesgo debe ser utilizado
        para trading, y solo aquellas personas con suficiente capital de riesgo
        deben considerar trading. Resultados pasados, no son necesariamente
        indicativos de resultados futuros.
      </p>

      <h5>Declaración de Resultados Hipotéticos</h5>
      <p>
        Resultados hipotéticos de rendimiento deben tener muchas limitaciones
        inherentes, algunas de las cuales se describen a continuación. No se
        debe hacer representación de que alguna de las cuentas va o es probable
        que tenga resultados similares a los mostrados; de hecho, hay
        diferencias frecuentes entre los resultados hipotéticos y los resultados
        actuales obtenidos por cualquier programa de trading. Una de las
        limitaciones de resultados hipotéticos de rendimiento es el hecho de que
        son preparados con los beneficios en retrospectiva. Además, trading
        hipotético no involucra riesgo financiero, y ningún record de trading
        hipotético puede considerar el riesgo financiero de operaciones reales.
        Por ejemplo, la capacidad de resistir pérdidas o de adherirse a un
        programa de trading particular sin importar pérdidas son puntos
        materiales los cuales pueden afectar de manera substancial resultados de
        trading real. Hay muchos factores relacionados a los mercados en
        general, o a la implementación de cualquier programa de trading
        especifico, los cuales no pueden ser todos considerados en la
        preparación de resultados hipotéticos, todos estos, pueden afectar los
        resultados de trading de forma adversa.
      </p>

      <em
        >Esta página web no ofrece NINGÚN tipo de asesoramiento a sus usuarios,
        ni de forma activa ni mediante respuesta a las preguntas recibidas. Al
        tratarse de una página web de carácter formativo, no podemos
        responsabilizarnos del uso indebido que el usuario haga de dicha
        información. En ningún caso podrá reclamar al responsable de esta página
        web, daños y prejuicios derivados de su operativa.</em
      >
    </div>

    <div class="inicio_pie-de-pagina__iconos">
      <div class="margin">
        <div class="imagen-logo-negro">
          <img
            src="../../../assets/img/negro.png"
            alt="Logo Alvaro Action Negro"
          />
        </div>
        <div class="inicio_pie-de-pagina__iconos___redes-sociales">
          <a
            target="_blank"
            href="https://www.youtube.com/channel/UCEEPH0uX-T5TOqg3KWMvuYg"
          >
            <i class="fab fa-youtube"></i>
          </a>
          <a target="_blank" href="https://www.instagram.com/alvaropriceaction">
            <i class="fab fa-instagram"></i>
          </a>
          <a target="_blank" href="https://t.me/joinchat/TQa9CIW38R6MPpVl">
            <i class="fab fa-telegram"></i>
          </a>
        </div>

        <a href="http://www.alvaropriceaction.com">
          <span>Copyright © 2022 Alvaro Priceaction</span>
        </a>
      </div>
    </div>
  </div>
  <ngx-scrolltop></ngx-scrolltop>
</div>

